#board { fill: #ddd; }
#skb-layout { fill: #fff; }

text {
    fill: #000;
    font-size: 20%;
    dominant-baseline: middle;
    text-anchor: middle;
    text-rendering: geometricPrecision;
    font-family: "Arial Unicode MS", "Lucida Sans Unicode", "DejaVu Sans", sans-serif;
    text-transform: capitalize;
    font-weight: 800;
}

#k-enter text, #k-tab text { font-size: 15%; }
#skb-sys text { font-size: 10%; }
#k-lock text tspan:first-item { font-family: Symbola, "Segoia UI Symbol"; }
